extends layout

block content

    h1= title
    p #{message}

    div(class='allCategoriesContainer')
            each category in all_categories
                div(class='individualCategory')
                    ul
                        li=category.name
                        li=category.description
                        li=category.url

                        div(class='individualOptionsMenu')
                            a(href='/categories/'+category.id + '/update')  
                                button Edit
                            a(href='/categories/'+category.id + '/delete')
                                button Delete