extends layout

block content

    div(class='page-header')
            h1=title

    div(class='nav')
        a(href='/items/create')  
            button Create Item

    div(class='allItemsContainer')
        
            each item in all_items
            
                div(class='individualItem')
                    label Item Name: #{item.name}
                    label Description: #{item.description}

                    each category in all_categories
                        if item.category.toString() === category._id.toString()
                            label Category: #{category.name}                   
                    
                    label Price: #{item.price}
                    label Number in stock: #{item.number_in_stock}
                    label URL: #{item.url}

                    div(class='form_buttons')
                        a(href='/items/'+item.id + '/update')  
                            button Edit
                        a(href='/items/'+item.id + '/delete')
                            button Delete
